{% extends "layout.html" %} {% load static %} {% block content %}
<div class="col-12">
  <h3 class="text-secondary text-center">Facturación</h3>
  <hr />
</div>
<div class="col-12">
  <form method="post">
    {% csrf_token %}
    <div class="input-group">
      <input
        required
        type="number"
        class="form-control"
        placeholder="# Factura"
        name="numero_factura"
        id="numero_factura"
      />
      <button
        class="btn btn-outline-secondary"
        type="submit"
        id="button-addon2"
      >
        Buscar
      </button>
    </div>
  </form>

  <hr />
</div>
<div class="col-12">
  <table class="table table-sm table-striped table-hover table-outline-primary">
    <thead class="table-info" style="font-size: 13px">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha</th>
        <th scope="col">Cliente</th>
        <th scope="col">Cajas</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for factura in facturas %}
      <tr style="font-size: 11px">
        <td>{{factura.factura}}</td>
        <td>{{factura.fecha}}</td>
        <td>
          {{factura.nit}} - {{factura.tercero}}
          <p style="color: rgb(92, 90, 90); font-size: 10px">
            {{factura.direccion}} {{factura.ciudad}}
          </p>
        </td>
        <form
          method="post"
          action="{% url 'guardar_cajas_factura' %}"
          onsubmit="return confirmSubmit({{factura.factura}})"
        >
          {% csrf_token %}
          <td>
            <input type="hidden" name="factura_id" value="{{ factura.id }}" />
            <div class="input-group">
              <div class="input-container ms-2">
                <label for="caja1">Caja 1</label>
                <div class="input-group">
                  <input
                    class="form-control caja-input"
                    type="number"
                    name="caja1_{{ factura.id }}"
                    min="0"
                    value="0"
                    id="caja1_{{ factura.id }}"
                    placeholder=""
                  />
                </div>
              </div>
              <div class="input-container ms-2">
                <label for="caja2">Caja 2</label>
                <div class="input-group">
                  <input
                    class="form-control caja-input"
                    type="number"
                    name="caja2_{{ factura.id }}"
                    min="0"
                    value="0"
                    id="caja2_{{ factura.id }}"
                    placeholder=""
                  />
                </div>
              </div>
              <div class="input-container ms-2">
                <label for="caja3">Caja 3</label>
                <div class="input-group">
                  <input
                    class="form-control caja-input"
                    type="number"
                    name="caja3_{{ factura.id }}"
                    min="0"
                    value="0"
                    id="caja3_{{ factura.id }}"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </td>
          <td>
            <button
              style="font-size: 12px; margin-top: 5%"
              type="submit"
              class="btn btn-sm btn-outline-secondary"
              id="guardar-btn"
              disabled
            >
              Guardar
            </button>
          </td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function increment(id) {
    var input = document.getElementById(id);
    input.value = parseInt(input.value || 0) + 1;
  }

  function decrement(id) {
    var input = document.getElementById(id);
    input.value = parseInt(input.value || 0) - 1;
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const inputs = document.querySelectorAll(".caja-input");

    inputs.forEach((input) => {
      input.addEventListener("input", function () {
        let isAnyInputGreaterThanZero = false;
        inputs.forEach((input) => {
          if (parseInt(input.value) > 0) {
            isAnyInputGreaterThanZero = true;
          }
        });
        const button = input.closest("tr").querySelector("button");
        button.disabled = !isAnyInputGreaterThanZero;
      });
    });
  });

  function confirmSubmit(traslado) {
    return confirm(
      `esta seguro de guardar las cajas para la factura ${factura}`
    );
  }
</script>
{% endblock %}
